chamferdist 
einops
faiss
gradio
gradslam 
huggingface-hub
imageio
mpi4py
ninja
numpy
open-clip-torch
open3d
openai
opencv-python
pandas
pillow
protobuf
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@51fd114d8b8eed19226870ee7fd12dba1e25d550
scikit-fmm
scikit-image
scikit-learn
scipy
seaborn
six
tokenizers
tqdm
trimesh
triton
typer
typing
typing_extensions
tyro
tzdata
vision-datasets
visualization-msgs
wandb
watchfiles
wcwidth 
websockets
xformers==0.0.27+cu118
yarl
zipp 
